rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read: if resource.data.status == 'approved';
      allow create: if request.auth != null;
      allow update, delete: if request.auth.token.email == 'jandro44@gmail.com';
    }
    match /spaces/{spaceId} {
      allow read: if resource.data.status == 'approved';
      allow create: if request.auth != null;
      allow write: if request.auth.uid == resource.data.ownerUid;
      allow update, delete: if request.auth.token.email == 'jandro44@gmail.com';
    }
    match /spaces/{spaceId}/vault_entries/{entryId} {
      allow read: if resource.data.visibility == 'public';
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.contributorUid
        || request.auth.token.email == 'jandro44@gmail.com';
    }
    match /artists/{artistId} {
      allow read: if resource.data.status == 'approved';
      allow create: if request.auth != null;
      allow update, delete: if request.auth.token.email == 'jandro44@gmail.com';
    }
    match /artists/{artistId}/private/{document} {
      allow read, write: if request.auth.uid == artistId
                         || request.auth.token.email == 'jandro44@gmail.com';
    }
    match /events/{eventId}/roster/{rosterId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
